@font-face {
  font-family: norsebold;
  src: url("font/Norse-Bold.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #2457D8;
  --passColor: #D4D4D4;
  --opacity: 0;
}

a {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .left-header {
  flex-grow: 2;
  background-image: url("images/green-leaf.jpg");
  background-size: cover;
}

.left-header .logo-container {
  display: flex;
  align-items: flex-end;
}

.left-header .logo {
  height: 15vh;
  width: 100%;

  background-color: rgb(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-content: stretch;
}

.logo img {
  margin: 15px;
}

.logo p {
  color: white;

  font-family: norsebold;
  font-size: 5em;

  margin: auto 0;
}

.left-header .credit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.credit p {
  color: white;
  margin: 10px 0;
}

header .right-header {
  background-color: #F9FAFB;
  flex-grow: 3;
}

.right-header div {
  text-align: center;

  padding-top: 25px;
}

.right-header div:first-child {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

}

.right-header div p {
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

.right-header .texts p:last-child {
  margin: 0 0 25px 0;
}

.right-header form {
  padding-left: 50px;
  
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-header form p {
  font-size: 1.5em;

  padding: 15px 0 10px 0;
}

.right-header form ul {
  list-style: none;

  height: 80%;
  width: 100%;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

form ul li {
  margin: 0 50px 15px 0;
}

form ul li label {
  display: block;
  margin-bottom: 5px;
}

form ul li input {
  width: 100%;
  padding: 5px 2px;

  border-radius: 5px;
  border: 2px solid lightgray;
  outline: 0;
}

ul li input[type="password"] + label {
  color: #C8524A;
  font-size: 0.8em;

  opacity: var(--opacity);
}

ul li #password,
ul li #confirm-password {
  border-color: var(--passColor);
}

form ul li input:focus,
ul li #password:focus,
ul li #confirm-password:focus {
  border-color: var(--color);
  box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
}

form ul li input:invalid {
  border-color: #C8524A;
}

label#password-msg {
  display: none;
  opacity: var(--opacity);
}

label#confirm-password-msg {
  display: block;
  opacity: var(--opacity);
}

.right-header button {
  width: 200px;
  padding: 15px 10px;

  font-size: 1em;
  font-weight: bold;

  border: none;
  border-radius: 5px;

  color: white;
  background-color: #5A6D49;
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 20%);
}

.right-header button:hover {
  cursor: pointer;
}

.right-header button + p {
  margin: 15px 0;
  font-size: 1.1em;
}

.right-header button + p a {
  color: #5A6D49;
  text-decoration: none;
}

@media only screen and (min-width: 900px){
  header {
    flex-direction: row;
  }

  .left-header .logo-container,
  .right-header div {
    height: 35%;
  }

  .left-header .credit {
    height: 65%;
  }

  .right-header div {
    text-align:left;
    padding: 35px 0 0 50px;
  }

  .right-header div p {
    font-size: 1.5em;
  }

  .right-header .texts p:last-child {
    margin: 25px 0 55px 0;
  }

  .right-header form {
    height: 30%;
  }

  .right-header form ul {
    width: 600px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  form ul li input {
    width: 250px;
  }

  label#password-msg {
    display: block;
  }

  label#confirm-password-msg {
    display: none;
  }

  .right-header button + p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 650px) {
  .right-header div p {
      font-size: 1.2em;
    }
}