@font-face {
  font-family: norsebold;
  src: url("font/Norse-Bold.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
}

header {
  display: flex;
}

header .left-header {
  flex-grow: 2;
  background-image: url("images/green-leaf.jpg");
  background-size: cover;

  height: 100vh;
}

.left-header .logo-container {
  height: 30%;
  display: flex;
  align-items: flex-end;
}

.left-header .logo {
  height: 15vh;
  width: 100%;

  background-color: rgb(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-content: stretch;
}

.logo img {
  margin: 15px;
}

.logo p {
  color: white;

  font-family: norsebold;
  font-size: 5em;
  margin: auto 0;
}

.left-header .credit {
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.credit p {
  color: white;
  margin-bottom: 10px;
}

header .right-header {
  background-color: #F9FAFB;
  flex-grow: 3;

  height: 100vh;
}

.right-header div {
  height: 30%;
}

.right-header div:first-child {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  margin-left: 50px;
}

.right-header div p {
  font-size: 1.5em;

  margin-bottom: 8px;
}

.right-header div p:last-child {
  margin-top: 25px;
  margin-bottom: 55px;
}

.right-header form {
  height: 40%;
  background-color: white;
}